    <div class="container" id="header">
            <h1 id="title">BELP</h1>
            <p id="sub-title">Happy Hours</p>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="lefthead">Happy Hour</div>
                    <div class="panel-body">
                        <!-- <ul>
                            {{#each burgers}}
                                {{#unless devoured}}
                                    <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                    <button type="button" class="eatburger btn btn-warning" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-cutlery"></span></button>
                                    <hr>
                                {{/unless}}
                            {{/each}}
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="righthead">Location</div>
                    <!-- <div class="panel-body">
                        <ul>
                            {{#each burgers}}
                                {{#if devoured}}
                                    <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                    <button type="button" class="trashburger btn btn-danger" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                                    <hr>
                                {{/if}}
                            {{/each}}
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
